<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Index</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <form method="POST" class="post-form" action="/emp">
      {% csrf_token %}
      <div class="container">
        <br />
        <div class="form-group row">
          <label class="col-sm-1 col-form-label"></label>
          <div class="col-sm-4">
            <h3>Enter Details</h3>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Employee Id:</label>
          <div class="col-sm-4">{{ form.eid }}</div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Employee Name:</label>
          <div class="col-sm-4">{{ form.ename }}</div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Employee Email:</label>
          <div class="col-sm-4">{{ form.eemail }}</div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Employee Contact:</label>
          <div class="col-sm-4">{{ form.econtact }}</div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label"></label>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
