<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Employee Records</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <table class="table table-striped table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th>Employee ID</th>
          <th>Employee Name</th>
          <th>Employee Email</th>
          <th>Employee Contact</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
        <tr>
          <td>{{ employee.eid }}</td>
          <td>{{ employee.ename }}</td>
          <td>{{ employee.eemail }}</td>
          <td>{{ employee.econtact }}</td>
          <td>
            <a href="/edit/{{ employee.id }}"
              ><span class="glyphicon glyphicon-pencil">Edit</span></a
            >
            <a href="/delete/{{ employee.id }}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br />
    <br />
    <center><a href="/emp" class="btn btn-primary">Add New Record</a></center>
  </body>
</html>
